header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

.see-all{
    font-size: 0.8rem;
    text-transform: uppercase;
}

ul h1{
    font-size: 2.5rem;
    font-weight: 100;
    
}

ul h2{
    text-transform: uppercase;
    font-size: 1rem;
}

img{
    width: 100%;
}

.cast li{
    width:25%;
}

.shows h1{
    border-top: solid 1px black;
}

.selected{
    font-weight: bold;
    color: black;
}

.cast div{
    font-size: .8rem;
}

div:nth-child(2){
    font-weight: bold;
}

div:nth-child(3){
    font-style: italic;
}

#game-of-thrones section.seasons li:last-child::after{
    content:"*";
}

#game-of-thrones section.seasons::after{
    content:"* Final Season";
    font-size: .7rem;
    color: #999;
}