html {
    background-color: #FFF5F2;
    color: #3D230E;
    font-family: 'Scope One', serif; 
    margin: auto;
    }

header {
    background-image:url("images/classic-madeleines-4.jpg");
    background-size: cover;
    background-position: center;
    }

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 4rem;
    color: #3D230E ;
    font-weight: 800; 
    text-shadow: 3px 3px 2px #FFF5F2;
    }

h2{
    text-align: center;
    font-size: 1.5em;
    }

img{
    width: 100%;}

    #info {
        padding: 2.8em;
        font-size: 1.4rem;
        margin-left: auto;
        margin-right: auto;
 }


    #timing {
        padding: .5em;
        background-color: #FFAEB4;
        text-align: center;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    #before {
        padding: 1em;
        margin-bottom: 0;
        background-color: #C4C4C4;
    }
   

    #ingredients {
        display: grid;
        margin-top: 1em;
        grid-template-columns: 1fr 1.5fr;
    }

    .gridpic{
        width: 100%;
    }



    #instructions {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    



    @media(min-width: 640px){
        h2{ 
            text-align: left;}   
    }

    @media(min-width: 900px){
        .bottompic1{
            float: left;
            padding-right: 3em;
            padding-bottom: 1em;
            width: 30%;
        }
        .bottompic2{
            display: none;
        }
    }

    @media(max-width: 900px){
        #ingredients {
            display: grid;
            margin-top: 2em;
            grid-template-columns: 1fr;
        }

        #timing{
            display: grid;
            grid-template-columns: 1fr;
            
        }

        .bottompic1{
            display: none;
        }
        .bottompic2{
            width: 100%;
        }
    }
    /* would grid be better? */
        

    
    